body {
    font-family: 'Montserrat';
}

.navbar {
    background-color: #171717;
    border-bottom: 1px solid #333;
}

.nav-item {
    margin-right: 24px;
    font-weight: 200;
}


.nav-item.active a {
    color: #f9b234 !important;
    font-weight: 600;
}

.nav-link span {
    color: #f9b234;
    font-weight: 600;
}

/* Carousel */
.carousel {
    height: 450px;
    background-color: #171717;
    color: white;
}

.carousel h1 {
    font-family: 'Lora';
    font-weight: 700;
}

.carousel p{
    font-weight: 200;
}

.features h3, .designer h3, .similar-product h3, .cart-header h3, .checkout-modal-suckes h3, .category h3{
    color: #1B2690;
    font-weight: bold;
    font-family: 'Lora';
}

.features p, .designer p, footer p, .similar-product p, .cart-header p, .checkout-modal-suckes p, .category p{
    color: #B7B7B7;
    font-weight: 200;
}

.figure h5{
    color: #171717;
}

.figure-img {
    position: relative;
}

.figure-img a{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
}

.figure-img:hover a{
    opacity: 1;
}
.figure a{
    color: #1B2690;
}

.breadcrumb {
    margin-top: 100px;
}

.cart-breadcrumb {
    margin-top: 50px;
}

.product-thumbnail-container {
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 360px;
    padding: 8px;
    margin: auto;
    transform: translateY(-45px);
}

.product-thumbnail-container a:hover {
    text-decoration: none;
}

.btn-product {
    margin: 50px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaef;
}

.btn-product .btn {
    display: block;
    margin: 10px 0;
}

.design-by h5{
    font-size: 14px;
    font-weight: 200;
    color: #B7B7B7;
    margin-bottom: 10px;
}

.design-by h4{
    font-size: 18px;
    color: #171717;
}

.design-by p {
    font-size: 14px;
    font-weight: 200;
    color: #171717;
}

.design-by p span {
    color: #B7B7B7;
}

.product-description {
    background-color: #F6F7FB;
    height: 350px;
}

.product-description .tab-content {
    background-color: white;
    border: 1px solid #dee2e6;
    border-top: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

.product-description .tab-content p {
    font-size: 16px;
    font-weight: 200;
    color: #868686;
    line-height: 28px;
}

.product-review {
    height: 330px;
    width: 820;
    overflow: scroll;
}

.product-review h5 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 1px;

}

.product-review p {
    font-size: 14px !important;
    
}

.similar-product {
    margin-top: 180px;
    margin-bottom: 100px;
}

.checkout-detail {
    background-color: #f6f7fb;
    border: 1px solid #eaeaea;
    color: #171717;
}

.category {
    margin-top: 100px;
}
